In [104]:
import pandas as pd

In [151]:
data_wiki = pd.read_csv("poland_cases.csv").iloc[:, [6, 9, 10]]

In [120]:
data_wiki

    Cases Recovered Deaths
0       0         0      0
1       0         0      0
2       0         0      0
3       0         0      0
4       0         0      0
..    ...       ...    ...
131   205       220      4
132   257       272      7
133   277       640     14
134   262       599      8
135   265       571     11

[136 rows x 3 columns]

In [152]:
data_wiki["Deaths"] = pd.to_numeric(data_wiki["Deaths"].str.extract(r'^(\d+)', expand=False))

In [153]:
data_wiki["Recovered"] = pd.to_numeric(data_wiki["Recovered"].str.extract(r'^(\d+)', expand=False))

In [158]:
data_wiki["Cases"] = pd.to_numeric(data_wiki["Cases"].str.extract(r'^(\d+)', expand=False))

In [160]:
def prepare_dataframe(data, n):
    new = pd.DataFrame()
    new["Cases"] = data.iloc[(n - 1):, 0].values
    new["Recovered"] = data.iloc[(n - 1):, 1].values
    new["Deaths"] = data.iloc[(n - 1):, 2].values
    for j in range(1, n):
        new["Cases-" + str(j)] = data.iloc[(n - j - 1):-j, 0].values
        new["Recovered-" + str(j)] = data.iloc[(n - j - 1):-j, 1].values
        new["Deaths-" + str(j)] = data.iloc[(n - j - 1):-j, 2].values
    return new

In [161]:
data = prepare_dataframe(data_wiki, 6)

In [162]:
data

,Cases,Recovered,Deaths,Cases-1,Recovered-1,Deaths-1,Cases-2,Recovered-2,Deaths-2,Cases-3,Recovered-3,Deaths-3,Cases-4,Recovered-4,Deaths-4,Cases-5,Recovered-5,Deaths-5
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,205,220,4,231,619,5,314,476,5,259,442,15,371,418,15,382,510,14
127,257,272,7,205,220,4,231,619,5,314,476,5,259,442,15,371,418,15
128,277,640,14,257,272,7,205,220,4,231,619,5,314,476,5,259,442,15
129,262,599,8,277,640,14,257,272,7,205,220,4,231,619,5,314,476,5
130,265,571,11,262,599,8,277,640,14,257,272,7,205,220,4,231,619,5

In [164]:
data.to_csv("data_processed.csv")